#breadcrumbs-position {
    float: left;
    margin-left: 10px;
}
.widget.cs_breadcrumbs{
	margin-top: 10px ;
	margin-bottom: 10px;
}
.breadcrumb {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.breadcrumb > .active > a {
	color: #999;
}
.breadcrumb > li:last-child > a{
	color:#999;
}