#breadcrumbs-position {
    float: left;
    margin-left: 0;
}
.widget.cs_breadcrumbs {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
}
.breadcrumb {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    list-style: none outside none;
    margin: 0;
    padding: 4px 0 0;
}
.breadcrumb > .active > a {
	color: #999;
}
.breadcrumb > li:last-child > a{
	color:#999;
}