#breadcrumbs-position {
    float: left;
    margin-left: 10px;
}
.breadcrumb {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}