/* .qa-nav-sub {
    display: none;
} */
.user-list li {
    list-style: none ;
    margin-bottom: 5px ;
    border-bottom: 2px solid red ; 
    cursor: pointer;
    min-height: 40px;
}
.user-list li.selected{
	background-color: green ;
	}
.user-list li div span.status{
    font-size: 15px;
}
.user-list li div span.status.online{
    color: green ;
}
.user-list li div span.status.offline{
    color: red ;
}
#messages {
    max-height: 300px;
    min-height: 100px;
    overflow: hidden;
    position: relative;
    overflow-y :overlay ;
}
#messages ul li {
    list-style: none ;
    padding: 5px ;
    background-color: #e3e3e3 ;
    margin-bottom: 2px;
    border-radius: 5px;
}
#messages ul li span.name{
    font-weight: bold ;
}
#messages ul li span.time{
    display: block ;
    text-align: right ;
    font-weight: lighter;
    font-size: 10px;
    margin: 1px 3px 3px 0px ;
}