html body {
	direction: rtl;
	unicode-bidi: embed;
	text-align: right;
}

.pull-right{
	float:left !important;
}
.pull-left{
	float:right !important;
}
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: right;
}

#site-header .site-logo {
    float: right;
    margin-left: 20px;
    margin-right: 0;
}
.ra-social-links, .qa-q-list .qa-q-list-item .qa-q-item-main > .ans-count{
	float:left;
}
.bx-wrapper {
    direction: ltr;
}
.bx-wrapper .bx-pager.bx-default-pager a {
    text-indent: 9999px;
}
.ra-activity .activity-inner:before {
    left: auto;
    right: 13px;
}
.ra-activity .activity-icon {
    margin-left: 15px;
    margin-right: 0;
}