a, .widget .ra-ticker-widget .widget-title a, .qa-q-view-tag-list li a:hover, .page-title .fav-btn.icon-heart, .user-activities .what-task {
	color:#21a65f;
}
.page-title .fav-btn.icon-heart:hover{
	color:#fff;
}
.btn:hover, .qa-form-light-button:hover, .qa-form-tall-button:hover, .qa-form-wide-button:hover, .qa-a-select-button:hover, .qa-a-unselect-button:hover, .post-button .btn:hover{
	background:#069449;
}
a:hover{
	color:#069449;
}

.question-list .question-item .big-ans-count.icon-chat, .page-title .fav-btn.active{
	background:#FA6900;
	color:#fff;
}
.question-list .question-item .big-ans-count{
	background:#2DB3E9;
}
#site-header #header-top {
    background: linear-gradient(#444444, #3D3D3D) repeat scroll 0 0 #333333;
}
.header-position-c,.page-title, .category-nav .category-list-drop li a span, .pagination > li > .qa-page-selected, .pagination > li:hover > a, .btn-success, #ra-widgets .widget-canvas .widget-save, .ra-activity .activity-icon, .ra-tags-widget .widget-tag span, .cs-category-widget-list li a span, #nav-ask-btn, .ra-social-links li a:hover, .btn-facebook, .qa-form-tall-button-login, .qa-form-tall-button-register, .category-nav.open .category-toggle, .ra-ask-widget .input-group-btn button, .carousel-control.left, .carousel-control.right, .ajax-file-upload-bar, .ra-ask-widget .answer, .ra-ask-widget .see-all a:hover{
    background-color: #21a65f;
}

.header-below-c {
    background: none repeat scroll 0 0 #d7f0e2;
}

.qa-q-list .qa-q-list-item .qa-q-item-main > .ans-count {
	background:#59bb87;
}
.answer-selected .a-item-wrap {
    border-color:#94E096;
}

.answer-selected .a-item-wrap:before {
    border-color: rgba(0, 0, 0, 0) #76C778 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}
.answer-selected .a-item-inner-line {
    border-color: #76C778;
}
.btn-unselect{
	background:#76C778;
	color:#fff;
}
#site-header .site-logo {
    
}
.qa-form-tall-button-login:hover, .qa-form-tall-button-send:hover, .qa-form-tall-button-register:hover{
	background: #6E973C;
}
.navbar-default .navbar-form .icon-search{
    color: #aaa;
}

.left-sidebar .qa-nav-main-list .qa-nav-main-item .qa-nav-main-link.qa-nav-main-selected, .left-sidebar .qa-nav-main-list .qa-nav-main-item .qa-nav-main-link:hover{
	color:#6E973C;
}


#site-header .navbar-form ::-webkit-input-placeholder { /* WebKit browsers */
    color:    #aaa;
}
#site-header .navbar-form :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #aaa;
}
#site-header .navbar-form ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #aaa;
}
#site-header .navbar-form :-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #aaa;
}

.on-off-checkbox-container, .pagination, .question-tags .tags-tag-list li a:hover {
	border-color:#e45840;
}



.t-bg-4{
	background:#FDAB0C;
	color:#fff;
}
.t-bg-4:hover{
	background:#e6a629;
	color:#fff;
}


.qa-q-view-closed > .question-status-icon, .what-2.icon-times:before{
	background:#ff6363;
	color:#fff;
}
.what-2.icon-tick:before{
	background:#76C778;
	color:#fff;
}
.what-2.icon-edit:before{
	background:#8fccff;
	color:#fff;
}